In [24]:
import numpy as np
import torch
from skimage import io, transform
import numpy as np
import os
from torch.utils.data import Dataset, DataLoader
from torchvision import transforms, utils
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import pickle
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
df = pd.read_csv('number_pic_char.csv', index_col='id')

In [34]:
df.head()

             name  total  train  test  bounding_box
id
0   Homer Simpson   2246   1909   337           612
1    Ned Flanders   1454   1236   218           595
2     Moe Szyslak   1452   1234   218           215
3    Lisa Simpson   1354   1151   203           562
4    Bart Simpson   1342   1141   201           554

In [37]:
'total: {}, train: {}, test: {}'.format(df['total'].sum(), df['train'].sum(), df['test'].sum())

'total: 20933, train: 17793, test: 3140'

In [38]:
class SimpsonsDataset(Dataset):
    def __init__(self, data_path, test=False, transform=None):
        self.data_path = data_path
        self.transform = transform
        self.test = test
        
        if not test:
            self.labels = os.listdir(self.data_path)
            self.label_encoder = LabelEncoder()
            self.label_encoder.fit(self.labels)
            
            with open('label_encoder.pkl', 'wb') as encoder_file:
                pickle.dump(self.label_encoder, encoder_file)
            
            
            self.items = []
            
            for label in self.labels:
                for item in os.listdir(os.path.join(self.data_path, label)):
                    if os.path.isfile(os.path.join(self.data_path, label, item)):
                        self.items.append(os.path.join(self.data_path, label, item))
            
   
    def __len__(self):
        return len(self.items)
    
    def __call__(self, idx):
        if torch.is_tensor(idx):
            idx = idx.to_list()
            
        if self.test:
            image = io.imread(self.items[idx])
            sample = { 'image': image }
            if self.transform != None:
                sample = self.transform(sample)
            return sample
        
        label = self.items[idx]
        return label

In [39]:
dt = SimpsonsDataset('./simpsons_dataset')

In [40]:
len(dt.items)

20933

In [ ]:
dt(0)

In [ ]:
os.path.join(*['aa', 'bb'])